<div class="div-card">
  <table class="w-100 text-gray-0">
    <thead class="bg-lightgray">
      <th class="pl-5 pr-4 py-4">ประเภท</th>
      <th class="pl-3 pr-4 py-4">รายการ</th>
      <th class="pl-3 pr-4 py-4">ระบบ KKUFMIS</th>
      <th class="pl-3 pr-4 py-4">คณะวิทยาศาสตร์</th>
      <th class="pl-3 pr-4 py-4">ผลต่าง</th>
    </thead>
    <tbody>
      <tr>
        <td class="pl-5 pr-4 py-3">รายได้</td>
        <td class="pl-3 pr-4 py-3">1. รายได้จากการจัดการศึกษา</td>
        <td class="pl-3 pr-4 py-3 bg-primary-light">142,115,855.00</td>
        <td class="pl-3 pr-4 py-3">142,115,855.00</td>
        <td class="pl-3 pr-4 py-3">0.00</td>
        <!--

            <td>1.2 ค่าธรรมเนียมการศึกษาอื่น ๆ</td> -->

      </tr>
      <tr>
        <td></td>
        <td class="pl-3 pr-4 py-3">&nbsp;&nbsp;&nbsp;&nbsp;1.1 ค่าธรรมเนียมการศึกษาและค่าหน่วยกิจ</td>
        <td class="pl-3 pr-4 py-3 bg-primary-light">23.00</td>
        <td class="pl-3 pr-4 py-3">23.00</td>
        <td class="pl-3 pr-4 py-3">0.00</td>
      </tr>
      <tr>
        <td></td>
        <td class="pl-3 pr-4 py-3">&nbsp;&nbsp;&nbsp;&nbsp;1.2 ค่าธรรมเนียมการศึกษาอื่น ๆ</td>
        <td class="pl-3 pr-4 py-3 bg-primary-light">55.00</td>
        <td class="pl-3 pr-4 py-3">60.00</td>
        <td class="pl-3 pr-4 py-3 negative">-5.00</td>
      </tr>
    </tbody>
  </table>
</div>
