<div class="div-card p-5">
  <h2 class="font-weight-bold text-gray-1 title mb-5">
    บันทึกรายได้ค่าธรรมเนียมการศึกษา
  </h2>
  <table class="w-100 text-center">
    <tr class="w-100">
      <td colspan="6">รายได้ในฐานะเจ้าของนักศึกษา</td>
      <td colspan="6">รายได้ในฐานะเจ้าของวิชา</td>
    </tr>
    <tr class="w-100">
      <td colspan="3">โครงการพิเศษ</td>
      <td colspan="3">ภาคปกติ</td>
      <td colspan="3">ภาคปกติ</td>
      <td colspan="3">โครงการพิเศษ</td>
    </tr>
    <tr class="w-100">
      <td colspan="1">ป.โท</td>
      <td colspan="1">ป.ตรี</td>
      <td colspan="1">ป.เอก</td>
      <td colspan="1">ป.ตรี</td>
      <td colspan="1">ป.โท</td>
      <td colspan="1">ป.เอก</td>
      <td colspan="1">ป.ตรี</td>
      <td colspan="1">ป.โท</td>
      <td colspan="1">ป.เอก</td>
      <td colspan="1">ป.ตรี</td>
      <td colspan="1">ป.โท</td>
      <td colspan="1">ป.เอก</td>
    </tr>
  </table>
</div>
