div.grow {
  flex-grow: 1;
}

td {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

th.mat-header-cell {
  font-size: 1rem;
  font-weight: bolder;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}

table {
  width: 100%;
  padding: 5rem;
  border: 1px solid var(--gray-3);
}

div.table-container {
  width: 130%;
  background: white;
}

.mat-header-cell.mat-column-joint, .mat-header-cell.mat-column-totalCol {
  width: 15rem;
}

.mat-cell.mat-column-joint {
  text-align: left !important;
  padding-left: .5rem;
  &.indent {
    padding-left: 1rem;
  }
}

.mat-column-empty {
  border-top: none;
  border-bottom: none;
}

th.mat-header-cell {
  padding: 0 !important;
  border-left: 1px solid var(--gray-3);
  border-right: 1px solid var(--gray-3);
  border-bottom: 1px solid var(--gray-3);
}

.mat-cell {
  padding-top: 0;
  padding-bottom: 0;
  border-right: 1px solid var(--gray-3);
  border-bottom: 1px solid var(--gray-5);
}

input {
  max-width: 100%;
  text-align: right;
  &:focus {
    border: none;
  }
  border: none;
  min-height: 48px;
}
