div.grow {
  flex-grow: 1;
}

td {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

th.mat-header-cell {
  font-size: 1rem;
  font-weight: bolder;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}

table {
  width: 200%;
  border-top: 3px solid #e0e0e0;
}

div.table-container {
  width: 100%;
  overflow-x: scroll;
  background: white;
}

.mat-header-cell.mat-column-joint, .mat-header-cell.mat-column-totalCol {
  width: 15rem;
}

.mat-cell.mat-column-joint {
  text-align: left !important;
  padding-left: .5rem;
  &.indent {
    padding-left: 1rem;
  }
}

.mat-column-empty {
  border-top: none;
  border-bottom: none;
}

th.mat-header-cell {
  padding: 0 !important;
  border-left: 3px solid #e0e0e0;
  border-right: 3px solid #e0e0e0;
  border-bottom: 3px solid #e0e0e0;
  font-weight: bold;
  font-size: 16px;
}

.mat-cell {
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
  // border-right: 1px solid var(--gray-3);
  // border-bottom: 1px solid var(--gray-5);
}

input {
  // background-color: white;
  // max-width: 100%;
  text-align: right;
  &:focus {
    border: none;
  }
  min-height: 40px;
  border: none;
  // min-height: 48px;
}

.boldText {
  font-weight: bold;
}

.borderRight {
  border-right: 3px solid #e0e0e0 !important;
}

.subBorderRight {
  border-right: 3px solid #e0e0e0 !important;
}

.leftBg {
  background-color: #FEF9E7;
}

.rightBg {
  background-color: #FDF2E9;
}

.btn {
  width: 15% !important;
}

.mat-elevation-z8 {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12) !important;
}
