.example-container {
  height: 100%;
  overflow: auto;
  background-color: white;
}

table {
  width: 100%;
}

.headerStyle {
  background-color: white;
}

.mat-cell {
  font-size: 16px;
}

.mat-header-cell {
  border-bottom: 3px solid #e0e0e0;
  font-weight: bold;
  font-size: 16px;
}

.mat-form-field {
  margin-top: 2%;
  margin-right: 5%;
}

.title {
  margin-left: 2%;
  margin-top: 2%;
}

.downloadContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.downloadText {
  font-size: 15px;
  font-weight: bold;
  color: var(--green-0)
}
