  .example-container {
    height: 78%;
    overflow: auto;
    background-color: white;
  }
  
  table {
    width: 130%;
  }

  .headerStyle {
    background-color: white;
  }

  .mat-cell {
    border-bottom: 1px solid #e0e0e0;
  }

  .mat-header-cell {
    border-bottom: 3px solid #e0e0e0;
  }
  