  .example-container {
    height: 100%;
    overflow: auto;
    background-color: white;
  }
  
  table {
    width: 130%;
  }

  .headerStyle {
    background-color: white;
  }

  .mat-cell {
    font-size: 16px;
  }

  .mat-header-cell {
    border-bottom: 3px solid #e0e0e0;
    font-weight: bold;
    font-size: 16px;
  }

  .mat-form-field {
    font-size: 15px;
    width: 15%;
  }

  .title {
    margin-left: 2%;
    margin-top: 2%;
  }
