<div class="center">
    <div class="card mat-elevation-z8">
      <p class="subTitle">&emsp;รายได้ที่รับเข้ามาของคณะวิทยาศาสตร์ มหาวิทยาลัยขอนแก่น มี 3 ช่องทาง คือ หน้าเคาท์เตอร์ ฐานข้อมูล KKUFMIS และฝ่ายแผนยุทธศาสตร์ โดยแบ่งออกเป็น 12 ประเภท</p>
      <div class="choiceContainer">
        <p>1) รายได้จากการจัดการศึกษา</p>
        <p>2) รายได้จากการให้บริการวิชาการ</p>
        <p>3) รายได้จากการบริหารสินทรัพย์</p>
        <p>4) รายได้ดอกเบี้ยรับและจากการลงทุน</p>
        <p>5) รายได้จากการรับบริจาค</p>
        <p>6) รายได้จากการจำหน่ายผลิตผลจากการเรียนการสอน</p>
        <p>7) รายได้จากการวิจัย</p>
        <p>8) รายได้ค่าขายสิ่งของ</p>
        <p>9) รายได้ค่าธรรมเนียมสาธารณูปโภค</p>
        <p>10) รายได้จากการรับโอน</p>
        <p>11) รายได้ระหว่างหน่วยงาน</p>
        <p>12) รายได้อื่นๆ</p>
      </div>
    </div>
</div>
