:root {

  /** primary **/
  --primary: #ffc500;
  --primary-tint: #f7e270;
  --primary-shade: #fdd347;

  --gray-0: #404040;
  --gray-1: #505050;
  --gray-2: #868686;
  --gray-3: #b2b2b2;
  --gray-4: #cbcbcb;
  --gray-5: #e3e3e3;
  --gray-6: #ededed;
  --gray-7: #fefae3;
}
