:root {

  /** primary **/
  --primary: #ffc500;
  --primary-tint: #f7e270;
  --primary-shade: #fdd347;
  --primary-light: #fefae3;

  /** gray **/
  --gray-0: #404040;
  --gray-1: #505050;
  --gray-2: #868686;
  --gray-3: #b2b2b2;
  --gray-4: #cbcbcb;
  --gray-5: #e3e3e3;
  --gray-6: #ededed;
  --gray-7: #f0f0f0;
  --gray-8: #fefafe;

  /** blue **/
  --blue-0: #5DADE2;

  /** green **/
  --green-0: #73C6B6;
}
