<div class="header-background"></div>

<div class="loginContainer div-card p-4">
  <a href="https://sc.kku.ac.th/" target="_blank">
    <img class="logo" src="../../../assets/images/sc-kku-logo.png" />
  </a>
  <h5 class="loginTitle">เข้าสู่ระบบ</h5>
  <form [formGroup]="credForm" (ngSubmit)="login()" class="text-center">
    <input formControlName="username" class="input" type="text" id="username" name="username" placeholder="Username" />
    <br />
    <input formControlName="password" class="input" type="password" id="pwd" name="pwd" placeholder="Password" />
    <br /><br />
    <button [disabled]="!credForm.valid" type="submit" class="btn submitBtn btn-primary mx-auto p-0">LOG IN</button>
  </form>
</div>
