<div class="header-background p-4">
  <div class="d-flex flex-row align-items-center">
    <img class="logo" src="../../../assets/images/sc-kku-logo.png">
    <div class="pl-4">
      <p class="title text-gray-0 m-0">ระบบสารสนเทศเงินรายได้</p>
      <p class="faculty text-gray-0 m-0">คณะวิทยาศาสตร์ มหาวิทยาลัยขอนแก่น</p>
    </div>
  </div>
</div>

<nav ngbNav #nav="ngbNav" class="navbar navbar-expand-lg navbar-light">
  <ul class="d-flex justify-content-between w-50 navbar-nav ml-auto pr-5">
    <li class="nav-item ">
      <a class="nav-link" routerLink="home" routerLinkActive="active" href="#">หน้าหลัก <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item dropdown">
      <div ngbDropdown class="d-inline-block">

        <a class="nav-link" [ngClass]="{ 'active' : generalActive.isActive || feeActive.isActive || kkufmisActive.isActive }" id="dropdownMenu1" ngbDropdownToggle>บันทึก</a>

        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item text-gray-2" routerLink="form/general" routerLinkActive="active" #generalActive="routerLinkActive" href="#">เงินรายได้</a>
          <a class="dropdown-item text-gray-2" routerLink="form/fee" routerLinkActive="active" #feeActive="routerLinkActive" href="#">ค่าธรรมเนียมการศึกษา</a>

          <!-- <div ngbDropdownMenu ngbDropdown class="d-inline-block">
            <a class="nav-link dropdown-item text-gray-2" id="dropdownMenu2" ngbDropdownToggle href="#">ค่าธรรมเนียมการศึกษา</a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">

              <a class="dropdown-item text-gray-2" routerLink="form/fee" routerLinkActive="active" #feeActive="routerLinkActive" href="#">เจ้าของนักศึกษา</a>

            </div>
          </div> -->

          <a class="dropdown-item text-gray-2" routerLink="form/kkufmis" routerLinkActive="active" #kkufmisActive="routerLinkActive" href="#">KKUFMIS</a>
        </div>

      </div>
    </li>
    <li class="nav-item ">
      <a class="nav-link" routerLink="verify" routerLinkActive="active" href="#">ตรวจสอบยอดรายได้ <span
          class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item  dropdown">
      <div ngbDropdown class="d-inline-block">
        <a class="nav-link" [ngClass]="{ 'active' : dailyActive.isActive || summaryActive.isActive }" id="dropdownMenu2" ngbDropdownToggle>รายงาน</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <a class="dropdown-item text-gray-2" routerLink="daily-report" routerLinkActive="active" #dailyActive="routerLinkActive" href="#">ประจำวัน</a>
          <a class="dropdown-item text-gray-2" routerLink="summary-report" routerLinkActive="active" #summaryActive="routerLinkActive" href="#">รายได้รวม</a>
        </div>
      </div>
    </li>
    <li class="nav-item ">
      <div class="text-right">
        <button class="btn btn-primary" (click)="logout()">Log out</button>
        <p class="text-gray-2">logged in as {{ (user ? user.username : 'Anonymous') }}</p>
      </div>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
