<div class="div-card p-5">
  <h2 class="font-weight-bold text-gray-1">บันทึกข้อมูลเงินรายได้</h2>
  <div class="d-flex w-100">
    <div class="w-100 pt-4">
      <table class="w-100">
        <tbody>
          <tr>
            <td class="w-25 py-2 label-table text-gray-0">วันที่ใบเสร็จรับเงิน</td>
            <td class="w-25 py-2 input-table">
              <input type="text" class="form-control" placeholder="วว/ดด/ปปปป">
            </td>
            <td class="w-25 py-2 label-table text-gray-0"></td>
            <td class="w-25 py-2 input-table"></td>
          </tr>
          <tr>
            <td class="w-25 py-2 label-table text-gray-0">ได้รับเงินจาก</td>
            <td class="w-25 py-2 input-table">
              <select type="text" class="form-control">
                <option value="a"></option>
                <option value="b">b</option>
                <option value="c">c</option>
              </select>
            </td>
            <td class="w-25 py-2 label-table text-gray-0">ประเภทการรับเงิน</td>
            <td class="w-25 py-2 input-table">
              <select type="text" class="form-control">
                <option value="a"></option>
                <option value="b">b</option>
                <option value="c">c</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="w-25 py-2 label-table text-gray-0">ชื่อหน่วยงาน</td>
            <td class="w-25 py-2 input-table">
              <input type="text" class="form-control">
            </td>
            <td class="w-25 py-2 label-table text-gray-0">วันที่นำฝาก (เช็ค/เงินโอน/ใบนำฝาก)</td>
            <td class="w-25 py-2 input-table">
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td class="w-25 py-2 label-table text-gray-0">เลขที่ใบเสร็จรับเงิน</td>
            <td class="w-25 py-2 input-table">
              <input type="text" class="form-control">
            </td>
            <td class="w-25 py-2 label-table text-gray-0">เลขที่เช็ค</td>
            <td class="w-25 py-2 input-table">
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td class="w-25 py-2 label-table text-gray-0">ชื่อสาขาวิชา</td>
            <td class="w-25 py-2 input-table">
              <select type="text" class="form-control">
                <option value="a"></option>
                <option value="b">b</option>
                <option value="c">c</option>
              </select>
            </td>
            <td class="w-25 py-2 label-table text-gray-0">วันที่เช็ค</td>
            <td class="w-25 py-2 input-table">
              <input type="text" class="form-control" placeholder="วว/ดด/ปปปป">
            </td>
          </tr>
          <tr>
            <td class="w-25 py-2 label-table text-gray-0">รหัสบัญชี</td>
            <td class="w-25 py-2 input-table">
              <select type="text" class="form-control">
                <option value="a"></option>
                <option value="b">b</option>
                <option value="c">c</option>
              </select>
            </td>
            <td class="w-25 py-2 label-table text-gray-0"></td>
            <td class="w-25 py-2 input-table"></td>
          </tr>
          <tr>
            <td class="w-25 py-2 label-table text-gray-0">รายการรายได้ - KKU</td>
            <td class="w-25 py-2 input-table">
              <input type="text" class="form-control">
            </td>
            <td class="w-25 py-2 label-table text-gray-0 font-weight-bold">จำนวนเงิน</td>
            <td class="w-25 py-2 input-table">
              <input type="text" class="form-control d-inline not-full-input mr-3">
              <p class="d-inline">บาท</p>
            </td>
          </tr>
          <tr>
            <td class="w-25 py-2 label-table text-gray-0">รหัสรายได้ - SC</td>
            <td class="w-25 py-2 input-table">
              <select type="text" class="form-control">
                <option value="a"></option>
                <option value="b">b</option>
                <option value="c">c</option>
              </select>
            </td>
            <td class="w-25 py-2 label-table text-gray-0"></td>
            <td class="w-25 py-2 input-table"></td>
          </tr>
          <tr>
            <td class="w-25 py-2 label-table text-gray-0">รายการรายได้ - SC</td>
            <td class="w-25 py-2 input-table">
              <input type="text" class="form-control">
            </td>
            <td class="w-25 py-2 label-table text-gray-0"></td>
            <td class="w-25 py-2 input-table"></td>
          </tr>
          <tr>
            <td class="w-25 py-2 label-table text-gray-0">รายละเอียด</td>
            <td class="w-25 py-2 input-table">
              <input type="text" class="form-control">
            </td>
            <td class="w-25 py-2 label-table text-gray-0"></td>
            <td class="w-25 py-2 input-table"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
