.example-container {
  height: 200%;
  overflow: auto;
  background-color: white;
}

table {
  width: 200%;
  background-color: white;
  margin-bottom: 3%;
}

.headerStyle {
  background-color: white;
}

.mat-cell {
  font-size: 16px;
}

.mat-header-cell {
  border-bottom: 3px solid #e0e0e0;
  font-weight: bold;
  font-size: 16px;
}

.mat-form-field {
  margin-top: 2%;
  margin-right: 3%;
  margin-left: 4%;
}

.title {
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.pl-4 {
  font-weight: bold;
}

.pl-5 {
  font-weight: bold;
}

.pl-6 {
  font-weight: bold;
  padding-left: 80px !important;
}

.pl-7 {
  padding-left: 100px !important;
}

.boldText {
  font-weight: bold;
}

.mat-footer-row {
  font-size: 16px !important;
  font-weight: bold;
  background-color: var(--gray-7);
}

.listHeader {
  text-align: left !important;
}

.amountText {
  text-align: right;
}

th.mat-header-cell {
  text-align: right;
}

td.mat-footer-cell {
  text-align: right;
}

.filterContainer {
  margin-right: 5%;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
}

.buttonStyle {
  height: 40px;
  width: 180px;
}
